@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth !important;
}

/* Tambahkan kelas untuk menyembunyikan sidebar */
.hidden {
    transform: translateX(-100%) !important;
}

/* Tambahkan kelas untuk menampilkan sidebar */
.show {
    transform: translateX(0) !important;
}

/* Tambahkan kelas untuk animasi transisi */
.transition-transform {
    transition: transform 0.3s ease;
}

/* Kelas untuk menambahkan margin pada konten utama saat sidebar ditampilkan */
.content-margin {
    margin-left: 0; /* Sesuaikan dengan lebar sidebar */
}

/* Kelas untuk menghapus margin pada konten utama saat sidebar disembunyikan */
.content-no-margin {
    margin-left: -170px;
}

.icons{
    width: 30px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

